<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Workflow Designer</title>

    <!-- css -->
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bower_components/ionicons/css/ionicons.min.css">


    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="../static/assets/js/main.js"> </script>

</head>
<body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">

                    <!-- navigation menu -->


                </ul>
            </div>

        </div><!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center">
        <div class="intro">
            <h1>Workflow Designer</h1>

        </div>
    </header>






<section id="workflowdesign" class="workflow design">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Workflow design</h3>
                </div>
            </div>

            <form action="/design" id="wf-form" method="post">
                <div class="row">
                    <div class="col-md-12" id="registration-msg" style="display:none;">
                        <div class="alert"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <p>Your ID:</p>
                     <input type="integer" class="form-control" id="u_id" name="u_id" value={{u_id}} readonly>
                   </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Workflow Name" name="wfname" required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Custom Notification" id="cust_notif" name="cust_notif" required>
                        </div>
                        <div class="form-group">
                            <input type="integer" class="form-control" placeholder="Number of stages" id="numberstages" name="numberofstages" required>
                        </div>








                           <br>


                        <div class="form-group">
                            <button type="submit" class="btn btn-black " name="wf-btn" id="wf-btn">Proceed</button>
                        </div>
<p> Existing Workflows <p>
 {% for p in data %}
      <p>{{ p }} </p>
  {% endfor %}

                         <script type=text/javascript>



                                $('#wf-btn').bind('click', function() {

                                 $.getJSON('/design',
                function(data) {
              //do nothing
            });
                            });
                            </script>
                        <br>
                        <br>
                        <div class="coltxt" id=myg name=myg>
                        </div>
                        </div>
                    </div>
                    </div>

                </div>
            </form>

    </section>




</body>
</html>
