<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Workflow Designer</title>

    <!-- css -->
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bower_components/ionicons/css/ionicons.min.css">


    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="../static/assets/js/main.js"> </script>

</head>
<body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">

                    <!-- navigation menu -->


                </ul>
            </div>

        </div><!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center">
        <div class="intro">
            <h1>Stage Designer</h1>

        </div>
    </header>






<section id="stagedesign" class="stage design">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Stage design</h3>
                </div>
            </div>

            <form action="/stagedesign" id="wf-form" method="post">
            <div class="col-sm-6">
              <div class="form-group">
                <p>User ID:</p>
                <input type="integer" class="form-control" id="u_id" name="u_id" value={{u_id}} readonly>
              </div>
              <div class="form-group">
                <p>Workflow ID:</p>
                <input type="integer" class="form-control" id="wf_id" name="wf_id" value={{wf_id}} readonly>
              </div>
              <div class="form-group">
                <p>Workflow Name:</p>
                <input type="text" class="form-control" name="wfname" value={{wfname}} readonly>
              </div>
              <div class="form-group">
                <p>Stage Number:</p>
                <input type="integer" class="form-control" name="stagenumber" value={{stagenumber}} readonly>
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Stage Name" id="stagename" name="stagename" required>
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Action Name" id="actionname" name="actionname" required>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-black " name="wf-btn" id="wf-btn">Proceed</button>
              </div>
              <br>
              <br>
              <div class="coltxt" id=myg name=myg>
              </div>
            </div>
          </form>
        </div>
    </section>




</body>
</html>
