<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Workflow Designer</title>

    <!-- css -->
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bower_components/ionicons/css/ionicons.min.css">


    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="../static/assets/js/main.js"> </script>

</head>
<body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">

                    <!-- navigation menu -->


                </ul>
            </div>

        </div><!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center">
        <div class="intro">
            <h1>Stage Designer</h1>

        </div>
    </header>






<section id="stagedesign" class="stage design">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Stage design</h3>
                </div>
            </div>

            <form action="/stagedesign" id="wf-form" method="post">

                    <div class="col-sm-6">
                        <div class="form-group">
                          <p>Workflow ID:</p>
                     <input type="text" class="form-control" id="wf_id" name="Workflow ID" value={{wfid}} readonly>
                   </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="wfname" value={{wfname}} readonly>
                        </div>
                        <script type='text/javascript'>
       function addFields(){
           // Number of inputs to create

           // Container <div> where dynamic content will be placed
           var container = document.getElementById("container");
           // Clear previous contents of the container

           for (i=0;i<4;i++){
               // Append a node with a random text
               container.appendChild(document.createTextNode("Stage " + (i+1)));
               // Create an <input> element, set its type and name attributes
               var input = document.createElement("input");
               input.type = "text";
               input.name = "stage" + i;
               container.appendChild(input);
               // Append a line break
               container.appendChild(document.createElement("br"));
           }
       }
   </script>








                           <br>

                        <a href="#wf-form" class="btn btn-black" name="wf-btn" id="wf-btn">Proceed</a>
                         <script type=text/javascript>
                            var fla=0
                            function validate() {

                            }

                                $('#signup-btn').bind('click', function() {
                                    fla=0           //for every click on signup, checking should be done.
                                  validate();
                                  if(fla==0)
                                    {
                                        $.ajax({
                                            url: '/signup',
                                            data: $('form').serialize(),
                                            type: 'POST',
                                            success: function(response) {

                                                $("#myg").text(JSON.stringify(response['result']).replace(/"+/g, "")); //replace double quotes with null
                                            },
                                            error: function(error) {
                                                console.log(error);
                                            }
                                        });
                                    }
                            });
                            </script>
                        <br>
                        <br>
                        <div class="coltxt" id=myg name=myg>
                        </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </section>




</body>
</html>
