<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- css -->
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bower_components/ionicons/css/ionicons.min.css">


    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="../static/assets/js/main.js"> </script>

</head>
<body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">
                    <!-- navigation menu -->
                </ul>
            </div>
        </div><!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center">
      <div class="intro" style="margin-top : 50px; color : white;">
          <center>
            <h1>Workflow Designer</h1>
            <p style="font-size : 20px;">Design and create various workflows<p>
          </center>
      </div>
      <br>
      <center><u><h3>Workflow Instance</h3></u></center>
      <br>
      <br>
    </header>


    <body data-spy="scroll" data-target="#site-nav">
        <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbar-items">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- navigation menu -->
                    </ul>
                </div>
            </div><!-- /.container -->
        </nav>

    <section id="instancewf" class="instancewf">
            <div class="container">
              <form action="/workflowstruct" id="instancewf-form" method="post">
                <div class="row">
                  <div class="form-group">
                       <input type="hidden" class="form-control" id="wf_id" name="wf_id" value={{wf_id}} >
                       <script>console.log(wf_id)</script>
                    </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <center><h4>Number of Stages &nbsp &nbsp| &nbsp &nbsp{{stage_num}}</h4></center>
                    </div>
                    <br>

                    <center><h4>Set stage actor for each stage:</h4><br></center>

                    <table class="table table-light">
                      <thead>
                        <tr style="color:white;">
                          <th scope="col">Stage name</th>
                          <th scope="col">Actor ID</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for p in stagelist %}
                          <tr>
                            <td>{{p[2]}}</td>
                            <td> <input type="integer" class="form-control" id="stage_actor{{p[0]}}" name="stage_actor{{p[0]}}" placeholder="Enter stage actor id" required></td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <center><button type="submit" class="btn btn-black btn-primary" name="workflowstruct" id="workflowstruct">Set Actors</button></center>
                    <script type=text/javascript>
                        $(function() {
                          $('workflowstruct').bind('click', function() {
                            $.getJSON('/workflowstruct',
                                function(data) {
                              //do nothing
                            });
                            return false;
                          });
                        });
                </script>
              </div>
              <div class="col-sm-2">
                 <center><div style="margin-left:80px ;border-left: 1px solid white; height: 400px;"></div></center>
              </div>
              <div class="col-md-5">
                <center><h4>Select from the list of existing users:</h4><br></center>
                  <table class="table table-light">
                    <thead>
                      <tr style="color:white;">
                        <th scope="col">User ID</th>
                        <th scope="col">User Role</th>
                        <th scope="col">User Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for p in users %}
                        <tr>
                          <td>{{p[0]}}</td>
                          <td>{{p[1]}}</td>
                          <td>{{p[2]}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
           </div>
        </form>
      </div>
    </section>

  </body>
    <style>
        body{
          height:770px;
          background-image: linear-gradient(rgb(128, 170, 255),rgb(204, 179, 255));
        }
        .table td,th {
          text-align: center;
        }
    </style>
</body>
</html>
