<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- css -->
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bower_components/ionicons/css/ionicons.min.css">


    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="../static/assets/js/main.js"> </script>

</head>
<body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">


            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">

                    <!-- navigation menu -->


                </ul>
            </div>

        </div><!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center">
        <div class="intro">
            <h1>Workflow Instance</h1>
            <br>
        </div>

    </header>


    <body data-spy="scroll" data-target="#site-nav">
        <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
            <div class="container">

                <div class="collapse navbar-collapse" id="navbar-items">
                    <ul class="nav navbar-nav navbar-right">

                        <!-- navigation menu -->


                    </ul>
                </div>

            </div><!-- /.container -->
        </nav>









    <section id="instancewf" class="instancewf">
            <div class="container">
                <div class="row">
                  <div class="col-md-6">
                <div class="form-group">
                  <p>Number of Stages:</p>
                  <input type="integer" class="form-control" id="numberstages" value={{stage_num}} readonly>
                </div>
                <br>

                <h5>Set stage actor for each stage</h5>
                {% for p in stagelist %}

                 <div class="form-group">

               <input type="text" class="form-control" id="stage_Name" name="stage_Name" value="{{p[1]}}" readonly>
             </div>
             <div class="form-group">

             <input type="text" class="form-control" id="stage_actor{{p[0]}}" name="stage_actor{{p[0]}}" placeholder="Enter stage actor">
           </div>
                {% endfor %}

                <button type="submit" class="btn btn-black" name="workflowstruct" id="workflowstruct">Set Actors</button>
                <script type=text/javascript>
        $(function() {
          $('workflowstruct').bind('click', function() {
            $.getJSON('/workflowstruct',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

         </div>
                    <div class="col-md-6">
                      <p> Existing Users <p>
                        <table style="width:100%">
                        <tr>
                          <th>User ID</th>
                          <th>User Role</th>
                          <th>UserName</th>

                        </tr>
                       {% for p in users %}
                       <tr>
                         <th> <div class="form-group">

                        <input type="integer" class="form-control" id="user_id" name="user_id" value={{p[0]}} readonly>
                      </div>
                      </th>
                         <th> <div class="form-group">

                        <input type="text" class="form-control" id="user_role" name="user_role" value="{{p[1]}}" readonly>
                      </div></th>
                      <th> <div class="form-group">

                     <input type="text" class="form-control" id="user_name" name="user_name" value="{{p[2]}}" readonly>
                   </div></th>
                 </tr>
                 {% endfor %}
               </table>

                    </div>


             </div>



                </form>
    </div>
        </section>




    </body>
    </html>











</body>
</html>
