<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome</title>

    <!-- css -->
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bower_components/ionicons/css/ionicons.min.css">


    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="../static/assets/js/main.js"> </script>

</head>
<body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">
                    <!-- navigation menu -->
                </ul>
            </div>
        </div><!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center">
      <div class="intro" style="margin-top : 50px; color : white;">
          <center>
            <h1>Welcome!</h1>
            <!-- <p style="font-size : 20px;">Design and create various workflows<p> -->
          </center>
      </div>
    </header>

<section id="userdashboard" class="userdashboard">
        <div class="container" style="margin-top:70px;">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title"></h3>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12" id="registration-msg" style="display:none;">
                        <div class="alert"></div>
                    </div>
                    <div class="col-sm-3">
                      <center><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:150px;"></span>
                        <div class="form-group" style="margin-top: 20px; color:white;">
                            <p>User ID: {{u_id}}</p>
                            <p>User role : {{role}}</p>
                            <p>Username : {{name}}</p>
                        </div>
                      </center>
                    </div>
                    <div class="col-sm-1">
                      <center><div style="border-left: 1px solid white; height: 500px;"></div></center>
                    </div>
                    <div class="col-sm-8">
                      <center>
                      <div class="col-sm-6">
                      <div class="card" style="width:300px; background-color: rgb(217, 217, 217,0.5); padding:20px;">
                         <span class="glyphicon glyphicon-plus" aria-hidden="true" style="color : white; width:100%; font-size:100px;"></span>
                        <div class="card-body">
                          <h4 class="card-title">Start a new workflow</h4>
                          <p class="card-text">Create a new workflow instance from existing workflows and form your own workflow structure.</p>
                          <button type="submit" class="btn btn-black btn-primary" name="startwf" id="startwf">Start a new Workflow >></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card" style="width:300px; background-color: rgb(217, 217, 217,0.5); padding:20px;">
                         <span class="glyphicon glyphicon-equalizer" aria-hidden="true" style="color : white; width:100%; font-size:100px;"></span>
                        <div class="card-body">
                          <h4 class="card-title">View Pending Tasks</h4>
                          <p class="card-text">View the tasks which have been allocated to you by the workflow instance designer.</p>
                          <button type="submit" class="btn btn-black btn-primary" name="viewtasks" id="viewtasks">View pending tasks >></button>
                        </div>
                      </div>
                    </div>
                  </center>
                    </div>
                    <script type=text/javascript>
                           $('#startwf').bind('click', function() {
                             location.replace('/startworkflow');

                           });

                           $('#viewtasks').bind('click', function() {
                             location.replace('/viewtasks')
                           });
                     </script>
                        <div class="coltxt" id=myg name=myg></div>
                  </div>
                </div>
    </section>

    <style>
        body{
          height:800px;
          background-image: linear-gradient(rgb(128, 170, 255),rgb(204, 179, 255));
        }
        .table td,th {
          text-align: center;
        }
    </style>

</body>
</html>
