<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Workflow Designer</title>

    <!-- css -->
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bower_components/ionicons/css/ionicons.min.css">


    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="../static/assets/js/main.js"> </script>

</head>
<body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">

                    <!-- navigation menu -->


                </ul>
            </div>

        </div><!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center">
        <div class="intro">
            <h1>Workflow Designer</h1>

        </div>
    </header>






<section id="userdashboard" class="userdashboard">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title"></h3>
                </div>
            </div>

            <form action="/viewworkflow" id="ud-form" method="post">
                <div class="row">
                    <div class="col-md-12" id="registration-msg" style="display:none;">
                        <div class="alert"></div>
                    </div>
                    <div class="col-sm-6">

                          <div class="form-group">
                            <p>Your ID:</p>
                       <input type="integer" class="form-control" id="u_id" name="u_id" value={{u_id}} readonly>
                     </div>








                           <br>
                           <div class="form-group">

                           <input type="integer" class="form-control" id="wf_id" name="wf_id" placeholder="Enter Workflow ID">
                         </div>
<button type="submit" class="btn btn-black " name="viewwf" id="viewwf">View and Create</button>


<p> Existing Workflows <p>
  <table style="width:100%">
  <tr>
    <th>Workflow ID</th>
    <th>Workflow Name</th>

  </tr>
 {% for p in data %}
 <tr>
   <th> <div class="form-group">

  <input type="integer" class="form-control" id="wfs_id" name="wfs_id" value={{p[0]}} readonly>
</div>
</th>
   <th> <div class="form-group">

  <input type="integer" class="form-control" id="wf_Name" name="wf_Name" value={{p[1]}} readonly>
</div></th>


    

    </div>
    <script type=text/javascript>



           $('#viewwf').bind('click', function() {
             console.log("Hi")

            $.getJSON('/viewworkflow',
  function() {
  //do nothing
  });
       });
       </script>
    </th>

      </tr>
  {% endfor %}



                        <br>
                        <br>
                        <div class="coltxt" id=myg name=myg>
                        </div>
                        </div>
                    </div>



            </form>
</div>
    </section>




</body>
</html>
