<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Workflow Designer</title>

    <!-- css -->
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bower_components/ionicons/css/ionicons.min.css">


    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="../static/assets/js/main.js"> </script>

</head>
<body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">
                    <!-- navigation menu -->
                </ul>
            </div>
        </div><!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center">
      <div class="intro" style="margin-top : 50px; color : white;">
          <center>
            <h1>Workflow Designer</h1>
            <p style="font-size : 20px;">Design and create various workflows<p>
          </center>
      </div>
    </header>

<section id="userdashboard" class="userdashboard">
        <div class="container" style="margin-top:70px;">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title"></h3>
                </div>
            </div>
            <form action="/viewworkflow" id="ud-form" method="post">
                <div class="row">
                    <div class="col-md-12" id="registration-msg" style="display:none;">
                        <div class="alert"></div>
                    </div>
                    <div class="col-sm-3">
                      <center><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:150px;"></span>
                        <div class="form-group" style="margin-top: 20px; color:white;">
                            <p>User ID: {{u_id}}</p>
                            <p>User role : {{role}}</p>
                            <p>Username : {{name}}</p>
                        </div>
                      </center>
                      </div>
                      <div class="col-sm-1">
                        <center><div style="border-left: 1px solid white; height: 500px;"></div></center>
                      </div>
                      <div class="col-sm-8">
                        <p style="font-size: 30px;"> Existing Workflows: <p>
                          <table class="table table-light">
                            <thead>
                              <tr style="color:white;">
                                <th scope="col">Workflow ID</th>
                                <th scope="col">Workflow Name</th>
                                <th scope="col">Number of Stage</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for p in data %}
                                <tr>
                                  <td>{{p[0]}}</td>
                                  <td>{{p[1]}}</td>
                                  <td>{{p[3]}}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                          <br>
                          <p style="font-size: 30px;"> Create Workflow: <p>
                        <div class="form-group">
                            <input type="integer" class="form-control" id="wf_id" name="wf_id" placeholder="Enter Workflow ID">
                        </div>
                        <button type="submit" class="btn btn-black btn-primary" name="viewwf" id="viewwf">Create</button>
                    </div>
                    <script type=text/javascript>
                           $('#viewwf').bind('click', function() {
                             console.log("Hi")
                            $.getJSON('/viewworkflow',
                      function() {
                      //do nothing
                      });
                           });
                       </script>
                        <div class="coltxt" id=myg name=myg></div>
                        </div>
                    </form>
                </div>
    </section>

    <style>
        body{
          height:800px;
          background-image: linear-gradient(rgb(128, 170, 255),rgb(204, 179, 255));
        }
        .table td,th {
          text-align: center;
        }
    </style>

</body>
</html>
