<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- css -->
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bower_components/ionicons/css/ionicons.min.css">


    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="../static/assets/js/main.js"> </script>

</head>
<body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">


            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">

                    <!-- navigation menu -->


                </ul>
            </div>

        </div><!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center">
        <div class="intro">
            <h1>Workflow Structure</h1>
            <br>
        </div>

    </header>


    <body data-spy="scroll" data-target="#site-nav">
        <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
            <div class="container">

                <div class="collapse navbar-collapse" id="navbar-items">
                    <ul class="nav navbar-nav navbar-right">

                        <!-- navigation menu -->


                    </ul>
                </div>

            </div><!-- /.container -->
        </nav>









    <section id="workflowstruct" class="workflowstruct">
            <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <table style="width:100%">
                    <tr>
                      <th>Workflow ID</th>
                      <th>Workflow Name</th>
                      <th> Number of Stages</th>

                    </tr>
                    <tr>
                      <th> <div class="form-group">

                     <input type="integer" class="form-control" id="wfs_id" name="wfs_id" value={{wf[0][0]}} readonly>
                   </div>
                   </th>
                   <th> <div class="form-group">

                  <input type="text" class="form-control" id="wfs_name" name="wfs_name" value={{wf[0][1]}} readonly>
                </div>
                </th>
                <th> <div class="form-group">

               <input type="integer" class="form-control" id="stage_num" name="stage_num" value={{wf[0][2]}} readonly>
             </div>
             </th>
           </tr>
         </table>
         <br>
         <table style="width:100%">
         <tr>
           <th>Stage ID</th>
           <th>Stage Name</th>
           <th> Number of Actions</th>
           <th>Actor ID</th>
           <th>Actor Name</th>

         </tr>
         {% for p in data %}
         <tr>
           <th> <div class="form-group">

          <input type="integer" class="form-control" id="stage_id" name="stage_id" value={{p[0]}} readonly>
          </div>
          </th>
          <th> <div class="form-group">

         <input type="integer" class="form-control" id="stage_name" name="stage_name" value={{p[1]}} readonly>
         </div>
         </th>
         <th> <div class="form-group">

        <input type="integer" class="form-control" id="actions_num" name="actions_num" value={{p[2]}} readonly>
        </div>
        </th>
        <th> <div class="form-group">

       <input type="integer" class="form-control" id="actor_id" name="actor_id" value={{p[3]}} readonly>
       </div>
       </th>
       <th> <div class="form-group">

      <input type="integer" class="form-control" id="actor_name" name="actor_name" value={{p[4]}} readonly>
    </div>
    </th>


        </tr>
          {% endfor %}
        </table>

                  </div>
                    <div class="col-md-6">
                        <h3 class="section-title"></h3>
                    </div>


             </div>



                </form>
    </div>
        </section>




    </body>
    </html>











</body>
</html>
